@model IEnumerable<ChiaSeCode_TH.Models.DanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/LayoutAdmin/LayoutAdmin.cshtml";
}

<table class="table table-striped" style="margin-top: 6%">
    <tr>
        <th>
            <b class="control-label col-md-2" style="color:saddlebrown"><i class="fas fa-align-justify">&nbsp;</i>Danh mục</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaDanhMuc }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaDanhMuc })
            </td>
        </tr>
    }
</table>
<a href="/Admin/DanhMucs/Create" class="btn btn-danger" style="margin-left:40%"><b>Thêm danh mục</b></a>

