@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>FreeCode - Chia sẻ code</title>
    <link href="~/Content/Layout/css/bootstrap.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Content/Layout/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/Layout/js/login.js"></script>
    <script src="~/Content/Layout/js/jquery.easydropdown.js"></script>
    <!--Animation-->
    <script src="~/Content/Layout/js/wow.min.js"></script>
    <link href="~/Content/Layout/css/animate.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/fontawesome-free-5.10.2-web/fontawesome-free-5.10.2-web/css/all.min.css" rel="stylesheet" />
    <script>
        new WOW().init();
    </script>
    <link href="~/Content/BinhLuan.css" rel="stylesheet" />
</head>
<body style="font-family: Arial">
    @RenderBody()
    <!--//Giao diện trang chủ-->
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
